.fuego {
  font-size: 100px;
  font-weight: bold;
  color: white; /* Color de la base del fuego */
  text-shadow: 
    0px 0px 10px #FFF,           /* Resplandor base */
    4px 2px 12px #DCB500,        /* Parte amarilla/luz */
    -4px 2px 12px #DCB500,
    0px -6px 14px #FF7A00,       /* Subida naranja */
    0px -12px 14px #FF6300,
    0px -20px 14px #FF4400,      /* Parte roja */
    0px -30px 14px #0A7BFF;      /* Azuleo de la llama (punta) */
}   
